<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h2>User info</h2>
      <p>ここに写真</p>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
      <% if @user == current_user %>
        <%= link_to edit_user_path(@user) do %>
          <i class="glyphicon glyphicon-wrench col-xs-12 btn btn-default"></i>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user.id) do %>
          <i class="glyphicon glyphicon-wrench col-xs-12 btn btn-default"></i>
        <% end %>
      <% end %>
      </div>
      <!--部分テンプレ-->
      <h2>New Book</h2>
      <%= form_with model: @post_book, local: true do |f| %>
      <div class="field-row">
        <label for="book_title">Title</label>
        <%= f.text_field :title, class:"form-control" %>
      </div>
      <div class="field-row">
        <label for="book_body">Opinion</label>
        <%= f.text_area :body, class:"form-control" %>
      </div>
      <div class="actions row">
        <%= f.submit "Create Book", class:"btn btn-primary col-xs-12" %>
      </div>
      <% end %>
      <!--ここまで-->
    </div>
    <div class="col-xs-9">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <% if @user == current_user %>
          <% @user_book.each do |book| %>
          <tbody>
            <tr>
              <th>ここに写真</th>
              <th><%= book.title %></th>
              <th><%= book.body %></th>
            </tr>
          </tbody>
          <% end %>
        <% else %>
          <tbody>
            <tr>
              <th>ここに写真</th>
              <th></th>
              <th></th>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>